extends layout
block content
 div Results for: '#{query}'
 br
 each obj in areas
   a(href='/api/upcomingEvents?id=#{obj.metroArea.id}')
    if (obj.metroArea.state === undefined)
     div #{obj.metroArea.displayName}, #{obj.metroArea.country.displayName}
    else  
     div #{obj.metroArea.displayName}, #{obj.metroArea.state.displayName}, #{obj.metroArea.country.displayName}
   if (obj.city.displayName !== obj.metroArea.displayName)
    div including #{obj.city.displayName}
   br