extends layout
block content
 div(class='artist-grid')
  div(class='artist-grid-item-1' style='background-image: url(#{artist.images[0].url})')
  div(class='artist-grid-item-2')
   a(href=artist.external_urls.spotify target='_blank')
    div(class='artist-name')= artist.name
   div(class='artist-stats')
    div Popularity: #{artist.popularity}
    div Followers: #{artist.followers.total}
  div(class='artist-grid-item-3')
   div(class='artist-tracks-text') Popular Tracks
   each track in top_tracks
    a(href=track.preview_url target='_blank')
     div(class='artist-track')
      img(class='artist-track-img' src=track.album.images[2].url)
      div(class='artist-track-title')=track.name
  div(class='artist-grid-item-4')
   div(class='artist-albums-text') Albums
   div
    each album in albums
     a(href=album.external_urls.spotify target='_blank')
      img(src=album.images[0].url)
