extends layout
block content
 div(class='artist-grid')
  
  - var no_img = 'https://static.thenounproject.com/png/340719-200.png'
  - var artist_img_url = artist.images.length > 0 ? artist.images[0].url : no_img
  div(class='artist-grid-item-1' style='background-image: url(#{artist_img_url})')

  div(class='artist-grid-item-2')
   a(href=artist.external_urls.spotify target='_blank')
    div(class='artist-name')= artist.name
   div(class='artist-stats')
    div Popularity: #{artist.popularity}
    div Followers: #{artist.followers.total}

  div(class='artist-grid-item-3')
   div(class='artist-tracks-text') Popular Tracks
   each track in top_tracks
    -var track_img_url = track.album.images.length > 0 ? track.album.images[2].url : no_img
    a(href=track.preview_url target='_blank')
     div(class='artist-track')
      img(class='artist-track-img' src=track.album.images[2].url)
      div(class='artist-track-title')=track.name

  div(class='artist-grid-item-5')
   if albums.length > 0
    div(class='artist-albums-text') Albums
    div(class='artist-albums-grid')
     each album in albums
      -var album_img_url = album.images.length > 0 ? album.images[1].url : no_img
      a(href=album.external_urls.spotify target='_blank')
       div(class='artist-albums-grid-item' style='background-image: url(#{album_img_url})')

  div(class='artist-grid-item-4')
   if related_artists.length > 0 
    div(class='related-artists-text') Related Artists 
    div(class='related-artists-flex')  
     each artist in related_artists
      -var related_artist_img_url = artist.images.length > 0 ? artist.images[2].url : no_img
      a(href='/api/artist?q=#{artist.name}' target='_blank')
       div(class='related-artist-container')
        div(class='related-artist-name')= artist.name
        div(class='related-artist-img' style='background-image: url(#{related_artist_img_url})')   
   
    