extends layout

block content
 div(class='events-results-page')

  div(class='events-results-explanation')
   div(style='font-size: 2em') Results 
   div Found #{events.length} upcoming events 

  div(class='events-results') 
   each event in events 
    div(class='event-result')
     div(class='event-tag') UPCOMING #{event.type.toUpperCase()}

     -var date = event.end ? `${event.start.date} to ${event.end.date}` : event.start.date   
     div= date

     if event.performance.length > 0
      if event.type === 'Festival'
       div(class='event-title')= event.displayName
       div(class='event-flex')
        each performance in event.performance
         a(target='_blank' href='/api/artist?q=#{performance.displayName}')
          div(class='event-flex-item')= performance.displayName

      if event.type === 'Concert'
       a(target='_blank' href='/api/artist?q=#{event.performance[0].displayName}')
        div(class='event-title')= event.performance[0].displayName
       div(class='event-flex')
        each performance, i in event.performance
         if i !== 0
          a(target='_blank' href='/api/artist?q=#{performance.displayName}')
           div(class='event-flex-item')= performance.displayName  
     else
      div= event.displayName 

     div
      div(class='event-location') #{event.venue.displayName}, #{event.location.city} 
      i(class='fas fa-map-marker-alt event-location-icon') 
     a(class='event-link' target='_blank' href=event.uri) BUY TICKETS
